* {
	padding: 0;
	margin: 0;
  }


  /* .image-container {
    position: relative;
    overflow: hidden;
  } */

  
  header {
	display: flex;
	justify-content: center;
	position: relative; /* Ensure the overlay covers the background image */
	height: 150px;
	width: 100%;
	background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fblog.windstarcruises.com%2Fcontent%2Fuploads%2F2021%2F10%2FItalian-Food.jpeg&tbnid=t4C7TwljaextQM&vet=12ahUKEwi_stqz6N6EAxXknmMGHT0aDpsQMygQegUIARCOAQ..i&imgrefurl=https%3A%2F%2Fblog.windstarcruises.com%2Fhistory-of-italian-food%2F&docid=MfWC_CClHAOOrM&w=2000&h=650&q=italian%20food&ved=2ahUKEwi_stqz6N6EAxXknmMGHT0aDpsQMygQegUIARCOAQ);
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (last value) to change transparency */
	z-index: 1;
  }
  @keyframes up{
	0%{
		opacity:0;
		transform: translateY(30%);
	}
	100%{
		opacity:1;
	}
  }
  
  header h1 {
	padding-top: 50px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xxx-large;
	z-index: 2;
	animation: up 2s ease-in-out 0s 1 normal;
  
  }
  
  #intro {
	display: flex;
	align-items: center;
	padding: 50px;
	margin-bottom: 70px;
  }
  
  .introduction {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	margin-right: 30px;
	padding:50px;
	border:2px solid #d3ba55;
	box-shadow: 6px 5px 5px #bfa53e;
	border-radius: 10px;
  }
  
  .image{
	display: flex;
	justify-content: center;
	position: relative;
  }
  .image img {
	height: 300px;
	width: 450px;
	border-radius: 900px;
	margin: 0 10px;
	animation: slideIn 1.5s ease-in-out;
  }
  @keyframes slideIn {
	0% {
	  transform: translateX(60px); /* Initial position */
	  opacity: 0;
	}
	100% {
	  transform: translateX(0); /* Final position */
	  opacity: 0.6;
	}
  }
  .image img:nth-child(1) {
	position: absolute;
	bottom: 0;
	opacity:0.8;
  }
  
  .image img:nth-child(2) {
	position: relative;
	top: 70px;
	left:55%;
	opacity: 0.9;
	
  }
  .image-container{
	display:flex;
	justify-content: center;
  }
  .image-container img{
	box-shadow: 6px 2px 2px grey;
	height:200px;
	width:350px;
	padding: 10px;
	border-radius: 30px;
  }
  /* @keyframes shake{
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-2deg); }
	50% { transform: rotate(2deg); }
	75% { transform: rotate(-2deg); }
	100% { transform: rotate(0deg); }
  } */
  @keyframes shake {
	0% { transform: translateY(0) rotate(0deg); }
	25% { transform: translateY(-5px) rotate(-2deg); }
	50% { transform: translateY(5px) rotate(2deg); }
	75% { transform: translateY(-5px) rotate(-2deg); }
	100% { transform: translateY(0) rotate(0deg); }
  }
  .image-container img:hover{
	animation: shake 1s ease infinite;
  }
  
  .image-container p{
	font-size: x-large;
	font-weight: bold;
  }
  .f p{padding-left: 90px;}
  .s p{padding-left: 130px;}
  .t p{padding-left: 110px;}
  .fo p{padding-left: 110px;}
  
  
  .card-overlay-btn
  {
	width: 150px;
	height: 40px;
	margin-left: 100px;
	color:#d3ab55;
	background-color: #fff;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 14px;
	font-weight:bold ;
	letter-spacing: 1px;
	border:1px solid #d3ab55;
	border-radius:30px;
	cursor:pointer;
  }
  
  .s button{
	width: 150px;
	height: 40px;
	margin-left: 100px;
	margin-top:5px;
	color:#d3ab55;
	background-color: #fff;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 14px;
	font-weight:bold ;
	letter-spacing: 1px;
	border:1px solid #d3ab55;
	border-radius:30px;
	cursor:pointer;
  }
  
  .t button{
	width: 150px;
	height: 40px;
	/* margin-top: 20px; */
	margin-left: 110px;
	color:#d3ab55;
	background-color: #fff;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 14px;
	font-weight:bold ;
	letter-spacing: 1px;
	border:1px solid #d3ab55;
	border-radius:30px;
	cursor:pointer;
  }
  .fo button{
	width: 150px;
	height: 40px;
	margin-top:5px;
	margin-left: 110px;
	color:#d3ab55;
	background-color: #fff;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 14px;
	font-weight:bold ;
	letter-spacing: 1px;
	border:1px solid #d3ab55;
	border-radius:30px;
	cursor:pointer;
  }
  
  .card-overlay-btn a {
	color: #d3ab55;
	text-decoration: none;
  }
  
  .card-overlay-btn a:hover {
	text-decoration: none;
	color:gray;
  }
  
  
  .image-container2{
	display:flex;
	justify-content: center;
  }
  
  
  .image-container2 img{
	box-shadow: 6px 5px 5px grey;
	height:200px;
	width:350px;
	padding: 10px;
	border-radius: 30px;
  }
  .image-container2 p{
	font-size: x-large;
	font-weight: bold;
  }
  
  .image-container2 img:hover{
	animation: shake 1s ease infinite;
  }
  
  
  footer {
	background-color: black;
	margin-top: 50px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
  }
  
  .footer-content {
	flex: 1 1 300px;
	margin-bottom: 20px;
  }
  
  .footer-content h3 {
	color:#d3ab55;
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 20px;
  }
  
  .footer-content p {
	color: #d3ab55;
	font-size: 16px;
	margin-bottom: 5px;
	margin-left: 20px;
  }
  
  
  .footer-content ul li {
	margin-bottom: 5px;
  }
  .footer-content ul li i{
	padding:10px;
  }
  
  .footer-content ul li a {
	margin-left: 20px;
	text-decoration: none;
  }
  .facebook-link {
	color: #1877f2; /* Facebook blue */
  }
  
  .you{
	color: #ff0000; /* YouTube red */
  }
  .insta{
	color:darkmagenta
  }
  
  /* Styles for rating icons */
  .rating1 {
	padding-left: 100px;
	margin: 6px;
  }
  .rating2{
	padding-left: 80px;
	margin:30px 30px 0px 45px;
  }
  
  .rating3{
	padding-left: 80px;
	margin:30px 30px 5px 45px;
  }
  
  .f i {
	color: #ffd700; /* Gold color for filled stars */
  }
  .s i{
	color:#ffd700;
  }
  .t i{
	color:#ffd700;
  }
  
  .fo i{
	color: #ffd700;
  }
  .f i.far {
	color: #ccc; /* Light gray color for empty stars */
  }
  
  .s i.far {
	color: #ccc; /* Light gray color for empty stars */
  }
  
  .t i.far{
	color: #ccc;
  }
  .fo i.far{
	color: #ccc;
  }


  