body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f9;
}
.receipe-menu
{
  width:40px;
  height:40px;
  position:fixed;
  top:10%;
  right:5%;
  z-index:300;

}
.menu 
{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  cursor:pointer;
  transition: tranform .5s;
}
.menu-line
{
 width:100%;
 height: 4px;
 background-color:#070707; 
 transform-origin:right ;
 transition: all .5s .5s;


}
.navbar
{
  position:relative;
  z-index:200;
}

.left-img
{
  width:50%;
  position:absolute;
  box-shadow:0 15px 60px rgba(#000,.4);
  opacity: 0.8;
  border-radius: 10px;

}
.left-img-1
{
  top:15%;
  left:15%

}
.left-img-2
{
  top:35%;
  left:25%

}
.left-img-3
{
  top:55%;
  left:35%;

}
.navbar-navigation
{
  display:flex;
}
.navbar-navigation-left
{
  width:50vw;
  height:100vh;
  background-color: black;
  position:fixed;
  left:-50vw;
  transition: left .8s cubic-bezier(1,0,0,1);

}
.navbar-navigation-right
{
  width:50vw;
  height:100vh;
  background-color: #ddb96d;
  position:fixed;
  right:-50vw;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: right .8s cubic-bezier(1,0,0,1);

}
.nav-list-item
{
  list-style: none;

}


.nav-list-item {
  margin: 0 10px;
}

.nav-list-link:hover {
  background-color: #555;

}

/* Dropdown styling */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff !important;
  padding: 12px 16px;
  text-decoration: none !important;
  display: block;
}
.dropdown-content a:hover{
  color: #ddb96d !important;
  padding: 12px 16px;
  text-decoration: none !important;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  position:sticky;
}/**/
.nav-list-link
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:25px;
  font-weight: 300px;
  letter-spacing:2px ;
  color:#353434;
  text-decoration: none;
  font-style: normal;
  display:block;
  margin:20px;
  text-align:center;
  transition: all .5s;

}
.nav-list-link:hover
{
  color:#d3ab55;
  letter-spacing: 4px;
  
}
/* Add other styles as needed */

.contact-section {
    display: none;
}

.show-contact {
    display: block;
}

#mysign
{
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size: 25px;
  transition: all .5s;

}
#newlink
{
  color:black;
  text-decoration: none;

}
#newlink:hover
{
  color:whitesmoke;

}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left
{
  left:0;

}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right
{
  right:0;

}
.checkbox:checked ~ .receipe-menu .menu
{
  transform: rotateZ(90deg);

}
.checkbox:checked ~ .receipe-menu .menu-line-1
{
  transform: rotateZ(-40deg);

}
.checkbox:checked ~ .receipe-menu .menu-line-2
{
  opacity:0;

}
.checkbox:checked ~ .receipe-menu .menu-line-3
{
  transform: rotateZ(40deg);

}
.header {
  width: 100%;
  height: 110vh;
  background-image: url("images/forkify_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
  position:relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f6f6f9);
  opacity: 0.5;
  
}
.brand
{
  position:absolute;
  top:15%;
  left:50%;
  transform: translate(-50%,-50%);
  
  line-height: 0%;
  display:flex;
  align-items: center;

}


.search-container
{
  position:absolute;
  top: 50%;
  left:45%;
}


.logo
{
  font-size: 70px;

  display:flex;
  justify-content: center;
  align-items:center ;
  width:110px;
  height: 110px;
 
  border-radius: 50%;
  margin-right: 20px;
}
.main-name
{
  font-family: 'Phosphate',sans-serif;
  font-size:50px;
  color:#141313;
  font-weight: 300;
  letter-spacing:2px ;
  text-transform: uppercase;

}
.sub-name
{
  font-family: 'Josefin Sans',sans-serif;
  font-size: 18px;
  color:#070707;
  font-weight:bolder;
  text-align: center;
  
  letter-spacing:2px ;
  text-transform: uppercase;
  
}
.header-banner
{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color:#353434;
}
.main-heading
{
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  font-weight: 300;
  color:#d3ab55;
  margin-bottom: 20px;
  font-style: italic;
}

.search-container {
  align-items: center;
}





.sub-headng
{
  font-family: 'Josefin Sans',sans-serif;
  font-size: 60px;
  font-weight: 300;
  color:#bbb;
  margin-bottom: 80px;
}
.about-btn
{
display: inline-block;
background-color: #d3ab55;
color: #262626;
padding: 10px 20px;
border-radius: 5px;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
margin-top: 20px;
transition: background-color 0.3s ease;
}
.about-btn:hover
{
background-color: #262626;
color: #d3ab55;

}
.about-us
{
  height: 150vh;
  display:flex;
  align-items: center;

}
.description {
  font-size: 18px;
  line-height: 1.5;
  color: #26262606;
  margin-top: 20px;
  max-width: 500px;
}

.description p {
  margin-bottom: 20px;
  color:#141313f1;
  font-style: italic;
}

.description i {
  font-style:normal;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #df9a04;
}
.gallery
{
  display:flex;
  flex-wrap:wrap;
}

.card
{
  width:33.3333%;
  height: 30vw;
  position:relative;
  overflow: hidden;

}

.card-wrapper
{
  display:flex;
  flex-wrap: wrap;

}

.card-img {

  filter: blur(0.5s);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  transition: transform .3s ease-in-out;
    
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#d3ab55, .6);
  color: #ffffff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  /* transition: left .7s; */
  
  
}
.card-overlay {
  opacity: 2;
  

}

.card-overlay-heading
{
  font-family: 'times new roman',sans-serif;
  font-weight: bolder;
  font-size: 45px;
  font-weight: 300;
  letter-spacing:2px ;
  text-transform: capitalize;
}
.card-overlay-paragraph
{
  font-family: 'Oriya MN',sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing:2px ;
  text-transform: capitalize;
  margin-bottom: 30px;

}
.card-overlay-btn
{
  width: 150px;
  height: 40px;
  color:#d3ab55;
  background-color: #000000;
  font-family: 'Josefin Sans',sans-serif;
  font-size: 14px;
  font-weight:bold ;
  text-transform: uppercase;
  letter-spacing: 1px;
  border:1px solid #d3ab55;
  border-radius:30px;
  outline:none;
  cursor:pointer;
}
.card-overlay-btn:hover {
  
  color: white;
}
.card-overlay-heading {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.show-text {
  opacity: 1;
}
#cuisineDisplay p{
  font-size: xx-large;
  margin-left:500px;
  font-weight: bold;
  color: #d3ab55;
  margin-top: 20px;
}


.btn-success a:hover{
  color:white;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Add slide-in animation for .navbar-navigation-left */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.navbar-navigation-left {
  transform: translateX(-100%);
  transition: transform 0.8s cubic-bezier(1, 0, 0, 1);
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  transform: translateX(0);
}

/* Add slide-in animation for .navbar-navigation-right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.navbar-navigation-right {
  transform: translateX(100%);
  transition: transform 0.8s cubic-bezier(1, 0, 0, 1);
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  transform: translateX(0);
}

/* Add fade-in animation for .header-banner */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-banner {
  opacity: 0;
  animation: fadeInDown 1s ease-in-out forwards;
}


.footer {
  background-color: rgb(147, 146, 146);
  margin-top: 50px;
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-content {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.footer-content h3 {
  color:black;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.footer-content p {
  color: black;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 0px;
}


.footer-content ul li {
  margin-bottom: 5px;
}
.footer-content ul li i{
  padding-right:10px;
}

.footer-content ul li a {
  margin-left: 0px;
  text-decoration: none;
}
.facebook-link {
  color: #1877f2; /* Facebook blue */
}

.you{
  color: #ff0000; /* YouTube red */
}
.insta{
  color:darkmagenta
}
.last{
  background-color:  rgb(147, 146, 146);
  padding: 20px;
  display: flex;
  justify-content: center;
}
.last p{
  color:black;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.l{
  margin-top: 50px;
}
.logo1 img{
  height:150px;
  width:400px;
}
@media only screen and (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-navigation {
      margin-top: 20px;
  }

  .nav-list {
      flex-direction: column;
  }

  .nav-list-item {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .header {
      padding: 30px 20px;
  }
}
@media screen and(max-width:1324){
  .header{
    width:10%;
    height:90vh;
    margin-bottom: 10px;
  }
  .main-heading{
    font-size: large;
    margin-top: 20px;
  }
  .description p{
    height: 106px;
  }
}
@media screen and(max-width:995){
  .logo img{
    height:80px;
    width:250px;
  }
  .header{
    height:50vh;
  }
  
}
