* {
	padding: 0;
	margin: 0;
  }
  
  header {
	display: flex;
	justify-content: center;
	position: relative; /* Ensure the overlay covers the background image */
	height: 150px;
	width: 100%;
	background-image: url("../images/it2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  }
  header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (last value) to change transparency */
	z-index: 1;
  }
  @keyframes up{
	0%{
		opacity:0;
		transform: translateY(30%);
	}
	100%{
		opacity:1;
	}
  }
  
  header h1 {
	padding-top: 50px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xxx-large;
	z-index: 2;
	animation: up 2s ease-in-out 0s 1 normal;
  
  }
  
  #intro {
	display: flex;
	align-items: center;
	padding: 50px;
	margin-bottom: 70px;
  }
  
  .introduction {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	margin-right: 30px;
	padding:50px;
	border:2px solid #d3ba55;
	box-shadow: 6px 5px 5px #bfa53e;
	border-radius: 10px;
  }
  
  .image{
	display: flex;
	justify-content: center;
	position: relative;
  }
  .image img {
	height: 300px;
	width: 450px;
	border-radius: 900px;
	margin: 0 10px;
	animation: slideIn 1.5s ease-in-out;
  }
  @keyframes slideIn {
	0% {
	  transform: translateX(60px); /* Initial position */
	  opacity: 0;
	}
	100% {
	  transform: translateX(0); /* Final position */
	  opacity: 0.6;
	}
  }
  .image img:nth-child(1) {
	position: absolute;
	bottom: 0;
	opacity:0.8;
  }
  
  .image img:nth-child(2) {
	position: relative;
	top: 70px;
	left:55%;
	opacity: 0.9;
	
  }
  .image-container{
	display:flex;
	justify-content: center;
  }
  .image-container img{
	box-shadow: 6px 2px 2px grey;
	height:200px;
	width:350px;
	padding: 10px;
	border-radius: 30px;
  }
  /* @keyframes shake{
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-2deg); }
	50% { transform: rotate(2deg); }
	75% { transform: rotate(-2deg); }
	100% { transform: rotate(0deg); }
  } */
  @keyframes shake {
	0% { transform: translateY(0) rotate(0deg); }
	25% { transform: translateY(-5px) rotate(-2deg); }
	50% { transform: translateY(5px) rotate(2deg); }
	75% { transform: translateY(-5px) rotate(-2deg); }
	100% { transform: translateY(0) rotate(0deg); }
  }
  .image-container img:hover{
	animation: shake 1s ease infinite;
  }
  
  .image-container p{
	font-size: x-large;
	font-weight: bold;
  }
  .f p{padding-left: 90px;}
  .s p{padding-left: 130px;}
  .t p{padding-left: 110px;}
  .fo p{padding-left: 110px;}
  
  
  .card-overlay-btn
  {
	width: 150px;
	height: 40px;
	margin-left: 70px;
	color:#d3ab55;
	background-color: #fff;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 14px;
	font-weight:bold ;
	letter-spacing: 1px;
	border:1px solid #d3ab55;
	border-radius:30px;
	cursor:pointer;
  }
  
  .s button{
	width: 150px;
	height: 40px;
	margin-left: 100px;
	margin-top:5px;
	color:#d3ab55;
	background-color: #fff;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 14px;
	font-weight:bold ;
	letter-spacing: 1px;
	border:1px solid #d3ab55;
	border-radius:30px;
	cursor:pointer;
  }
  
  .t button{
	width: 150px;
	height: 40px;
	/* margin-top: 20px; */
	margin-left: 110px;
	color:#d3ab55;
	background-color: #fff;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 14px;
	font-weight:bold ;
	letter-spacing: 1px;
	border:1px solid #d3ab55;
	border-radius:30px;
	cursor:pointer;
  }
  .fo button{
	width: 150px;
	height: 40px;
	margin-top:5px;
	margin-left: 110px;
	color:#d3ab55;
	background-color: #fff;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 14px;
	font-weight:bold ;
	letter-spacing: 1px;
	border:1px solid #d3ab55;
	border-radius:30px;
	cursor:pointer;
  }
  
  .card-overlay-btn a {
	color: #d3ab55;
	text-decoration: none;
  }
  
  .card-overlay-btn a:hover {
	text-decoration: none;
	color:gray;
  }
  
  
  .image-container2{
	display:flex;
	justify-content: center;
  }
  
  
  .image-container2 img{
	box-shadow: 6px 5px 5px grey;
	height:200px;
	width:350px;
	padding: 10px;
	border-radius: 30px;
  }
  .image-container2 p{
	font-size: x-large;
	font-weight: bold;
  }
  
  .image-container2 img:hover{
	animation: shake 1s ease infinite;
  }
  
  
  footer {
	background-color: black;
	margin-top: 50px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
  }
  
  .footer-content {
	flex: 1 1 300px;
	margin-bottom: 20px;
  }
  
  .footer-content h3 {
	color:#d3ab55;
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 20px;
  }
  
  .footer-content p {
	color: #d3ab55;
	font-size: 16px;
	margin-bottom: 5px;
	margin-left: 20px;
  }
  
  
  .footer-content ul li {
	margin-bottom: 5px;
  }
  .footer-content ul li i{
	padding:10px;
  }
  
  .footer-content ul li a {
	margin-left: 20px;
	text-decoration: none;
  }
  .facebook-link {
	color: #1877f2; /* Facebook blue */
  }
  
  .you{
	color: #ff0000; /* YouTube red */
  }
  .insta{
	color:darkmagenta
  }
  
  /* Styles for rating icons */
  .rating1 {
	padding-left: 0px;
	margin: 6px;
  }
  .rating2{
	padding-left: 80px;
	margin:30px 30px 5px 45px;
  }
  
  .rating3{
	padding-left: 50px;
	margin:30px 30px 5px 45px;
  }
  
  .f i {
	color: red; 
  }
  .s i{
	color:red;
  }
  .t i{
	color:red;
  }
  
  .fo i{
	color: red;
  }


	@media screen and (max-width: 768px) {
		header {
			text-align: center;
		}
	
		header h1 {
			font-size: xx-large;
		}
		.image {
			display: none; 
		}
		#intro {
			flex-direction: column;
			text-align: center; 
		}
		image img{
			display: none;
		}
		.image-container,
		.image-container2 {
			flex-direction: column;
			text-align: center;
		}
		.f p{padding-left: 20px;}
		.s p{padding-left: 35px;}
		.t p{padding-left: 50px;}
		.fo p{padding-left: 60px;}
		
		.f button{margin-left: 40px;}
		.s button,
		.t button,
		.fo button{
			margin-left: 60px;
		}
		.rating1 {
			padding-left: 100px;
			margin: 6px;
		}
		.rating2{
			padding-left: 40px;
			margin:30px 30px 0px 45px;
		}
		
		.rating3{
			padding-left: 30px;
			margin:30px 30px 5px 45px;
		}
	
		.image-container img,
		.image-container2 img {
			width: 100%; 
			height:100%;
			margin-bottom: 10px; 
		}
		#icon{
			left: 10em;
		}
	}
	
	
	@media screen and (max-width: 1500px){
		header {
			text-align: center;
		}
		.image-container img{
			width:320px;
		}
		.image-container2 img{
			width:320px;
		}
		.image img{
			width:400px;
		}
	}
	
	@media screen and (min-width:770px ) and (max-width: 1380px){
		.image-container img{
			width:330px;
			height:250px;
		}
		.image-container2 img{
			width: 330px;
			height:250px;
		}
		.image img{
			width:300px;
			height:250px;
		}
		.image-container {
			display:none;
		}
		.image-container2 {
			display: none;
		}
	}
	@media screen and (min-width:770px) and (max-width: 1250px){
		.image-container {
			display: flex;
			flex-wrap:wrap;
		}
		.image-container2 {
			display:flex;
			flex-wrap:wrap;
			
		}
		.image img{
			width:250px;
			height:200px;
		}
		header{
			background-repeat: no-repeat;
			background-size: cover;
		}
		
}
.f,.s,.t,.fo{
  position: relative;
}
#icon{
  font-size:32px;
  cursor: pointer;
  position: absolute;
  top: -7px;
  right: -2px;
}
.far{
  color:goldenrod !important;
}
.rating1 .far{
  color: #ccc !important;
}.rating2 .far{
  color: #ccc !important;
}.rating3 .far{
  color: #ccc !important;
}
.rating1 i{
  color: gold !important;
}.rating2 i{
  color: gold !important;
}.rating3 i{
  color: gold !important;
}
